<div id="home" class="pt-page">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/gdg_developer.png">
        </div>
        <div class="col-md-8">
            <div>
                <h1 class="title">
                    <img src="/images/logo_gdg_devfest.png" height="80px">
                    GDG Argentina
                </h1>

                <div class="sumary">
                    <h1 class="subtitle">Quienes lo conforman?</h1> 
                    <p>GDG Argentina es un espacio colaborativo integrado por todas las comunidades GDG de Argentina. 
                        Aquí podrás encontrar información centralizada de todos los eventos del país, expertos en diferentes tecnologías Google, 
                        material bibliográfico escritos por los expertos y por los miembros de las diferentes comunidades.
                        Contamos con tu aporte...</p>
                    <polymer-ui-toolbar class="align-center polymer-ui-light-theme flexbox">
                        <polymer-flex-layout align="center" style="display: none;">
                        </polymer-flex-layout>
                        <polymer-media-query query="max-width: {{responsiveWidth}}" querymatches="{{queryMatches}}">
                        </polymer-media-query>
                        <a ui-sref="objetive" class="paper-button" data-download-button="">
                            <polymer-ui-icon src="/images/picons/ic_archive_dark_.png" style="height: 24px; width: 24px; background-image: url(http://www.polymer-project.org/images/picons/ic_archive_dark_.png); 
                                             background-size: 24px; 
                                             background-position: 50% 50%;">
                                <polymer-ui-iconset id="meta"></polymer-ui-iconset>
                            </polymer-ui-icon>
                            Quienes Somos?
                        </a>
                        <a href="/docs/start/usingelements.html" class="paper-button"><polymer-ui-icon src="/images/picons/ic_arrowForward_dark_.png" style="height: 24px; width: 24px; background-image: url(http://www.polymer-project.org/images/picons/ic_arrowForward_dark_.png); background-size: 24px; background-position: 50% 50%;">
                                <polymer-ui-iconset id="meta"></polymer-ui-iconset>
                            </polymer-ui-icon>Get started</a>
                        <a href="https://github.com/polymer/polymer" class="paper-button" borderless="">View on Github</a>
                    </polymer-ui-toolbar>
                </div>
            </div>
        </div>
    </div>
</div>
