<div class="pt-page" style="background: #660">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/delivered-innovation-250.png">
        </div>
        <div class="col-md-8">
            <h1 class="title">
                <img src="/images/logo_gdg_devfest.png" height="80px">
                GDG Argentina
            </h1>

            <div class="sumary">
                <h1 class="subtitle">Nuestro Objetivo</h1>
                <p> El objetivo de la comunidad de GDG de Argentina es brindar un espacio común donde se puedan compartir todas las experiencias en el uso de tecnología Google, acorde con el programa GDG.
                    Pretendemos que la información de todas las comunidades GDG de Argentina, se vean mapeadas en un único lugar, permitiendo el fácil acceso a los desarrolladores, emprendedores, etc.
                    <br/>
                    <br/>
                    <i>Quieres sumarte a este desafío?</i>
                    <br/>
                    <br/>
                    <a href="/docs/start/everything.html" class="paper-button" borderless="">
                        <polymer-ui-icon src="/images/picons/ic_arrowForward_light.png" style="height: 24px; width: 24px; background-image: url(http://www.polymer-project.org/images/picons/ic_arrowForward_light.png); background-size: 24px; background-position: 50% 50%;">
                            <polymer-ui-iconset id="meta"></polymer-ui-iconset>
                        </polymer-ui-icon>Registrate</a>
                </p>
            </div>
        </div>
    </div>
</div>
