body{ 
    width: 100%;
    background: #ffcb00;
    //overflow: hidden;
    //background-color: rgb(238, 238, 238) !important;
}

.pt-page{
    padding-top: 150px;
}

.pt-page .title{
    font-family: 'Electrolize';
    font-size: 80px;
    color: #fff;
    color: rgba(255,255,255,0.9);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.pt-page .subtitle{
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -0.01em;
    line-height: 48px;
    margin: 0px;
    color: #444;
}

.sumary{
    margin-left: 80px;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.sumary p{
    margin-top: 20px;
    line-height: 30px;
}

polymer-ui-toolbar{
    -webkit-box-align:stretch;
    -webkit-align-items:stretch;
    -moz-align-items:stretch;
    -ms-align-items:stretch;
    -o-align-items:stretch;
    align-items:stretch;
    font: inherit !important;
    border: none !important;
    background: inherit !important;
    height: auto;
    color: inherit !important;
    position: relative;
}

polymer-ui-toolbar.polymer-ui-light-theme {
    background-image: -webkit-linear-gradient(top, rgba(197, 197, 197, 0), rgba(197, 197, 197, 0.14902));
    background-color: rgb(242, 242, 242);
    color: rgb(51, 51, 51);
    background-position: initial initial;
    background-repeat: initial initial;
    backgroundAttachment: initial;
    backgroundClip: initial;
    backgroundOrigin: initial;
    backgroundPositionX: initial;
    backgroundPositionY: initial;
    backgroundRepeatX: initial;
    backgroundRepeatY: initial;
    backgroundSize: initial;
}

polymer-ui-toolbar.flexbox, polymer-ui-toolbar[flexbox], polymer-ui-toolbar[h-flexbox], polymer-ui-toolbar[v-flexbox] {
    display: flex !important;
}

.paper-button:hover, 
.paper-button.active {
    text-decoration: none;
    //background: #fff;
    box-shadow: 5px 15px 25px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1);
}

/*.paper-button:not(:last-child) {
    margin-right: 12px;
}*/

/*.paper-button:not([borderless]) {
    background: #fafafa;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}*/

.paper-button {
    display: inline-block;
    -webkit-transition: box-shadow 0.2s, background 0.2s;
    transition: box-shadow 0.2s, background 0.2s;
    border: none;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    padding: 14px 14px 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    outline: none;
    white-space: nowrap;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: inherit;
    vertical-align: middle;
    font-weight: normal;
    text-transform: uppercase;
    color: #444;
    box-shadow: 0px 4px 10px 0 rgba(0,0,0,0.1),0px 2px 10px 0px rgba(0,0,0,0.1);
}

.paper-button polymer-ui-icon {
    margin-right: 5px;
}

.polymer-ui-icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    background-size: 48px !important;
    cursor: pointer;
    background-repeat: no-repeat no-repeat;
}
